index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Opción Yo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="">
    <link rel="icon" href="public/img/ico.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/css/styles.css">
  </head>
  <body>
    <div class="banner">
      <div class="banner__container container">
        <div class="banner__main">
          <h1 class="banner__main--img wow fadeInUp"><img src="public/img/imagotipo-1--alt.png" alt="Logotipo"><img src="public/img/imagotipo-2--alt.png" alt="Logotipo"></h1>
          <h2 class="wow fadeInUp delay-1"><span id="typed"></span></h2>
          <div class="banner__main--button wow fadeInUp delay-2"><a class="hover-btn" href="#contact">Registrate ya</a></div>
        </div>
      </div>
    </div>
    <div class="nosotros">
      <div class="nosotros__container container">
        <div class="nosotros__img wow fadeInUp delay-2"></div>
        <div class="nosotros__main wow fadeInUp">
          <h2 class="secondary-title">Seamos honesto</h2>
          <p class="description">Hoy en dia son miles las personas que buscan ayuda professional en internet, y utilizar la tecnologia ya no es una opcion, es una necesitdad.</p>
        </div>
      </div>
    </div>
    <div class="call">
      <div class="call__container container">
        <div class="call__main wow fadeInUp">
          <h2 class="secondary-title">Registrate ya</h2>
          <div class="call__main--button"><a class="hover-btn" href="#contact">¿Estás listo?</a></div>
        </div>
      </div>
    </div>
    <div class="plataforma">
      <div class="plataforma__container container">
        <div class="plataforma__main wow fadeInUp">
          <h2 class="secondary-title">Nosotros creamos esta plataforma pensando en ti</h2>
          <p class="description">Pensando en profesionales que quieren utilizer la tecnologia para aumnetar sus ingresos. No te quedes atras, esta es tu oportundad de:</p>
        </div>
        <div class="plataforma__grid wow fadeInUp">
          <div class="plataforma__grid--item"><span class="fas fa-desktop"></span>
            <p class="description">Tener la tecnologia en la palma de tu mano</p>
          </div>
          <div class="plataforma__grid--item"><span class="fas fa-user-alt"></span>
            <p class="description">Sé tu propio jefe, elige cuando y donde quieres trabajar</p>
          </div>
          <div class="plataforma__grid--item"><span class="fas fa-coins"></span>
            <p class="description">Aumenta tus ingresos, sin la necesidad de invertir tu dinero</p>
          </div>
          <div class="plataforma__grid--item"><span class="fas fa-search"></span>
            <p class="description">Enfócate en tu trabajo y no en cobrar</p>
          </div>
          <div class="plataforma__grid--item"><span class="far fa-clock"></span>
            <p class="description">Disfruta de tu tiempo libre, nosotros nos enfocamos en buscarte clientes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <form class="contact__form"></form>
    </div>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/imagotipo-2.png" alt="Logotipo"></a></div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por:<a href="https://syscontrollers.com" target="_blank" rel="noopener noreferrer">Syscontrollers</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main.js"></script>
    <script src="public/js/type.js"></script>
    <script>
      $(function () {
          $("#typed").typed({
              strings: ["Sé tu propio jefe", "Aumenta tus ingresos", 'Elige donde y cuando trabajar'],
              typeSpeed: 100,
              backDelay: 2000,
              loop: true,
              loopCount: false,
              callback: function () {
                  foo();
              }
          });
      
          function foo() {
              console.log("Callback");
          }
      })
    </script>
  </body>
</html>

src/pug/pages/index.pug
extends ../config/template
    
prepend styles
block contenido

    //-- BANNER
    .banner
        .banner__container.container
            .banner__main
                h1.banner__main--img.wow.fadeInUp
                    img(src="public/img/imagotipo-1--alt.png", alt="Logotipo")
                    img(src="public/img/imagotipo-2--alt.png", alt="Logotipo")
                h2.wow.fadeInUp.delay-1: span#typed
                .banner__main--button.wow.fadeInUp.delay-2
                    a(href='#contact').hover-btn Registrate ya
    //--- NOSOTROS
    .nosotros
        .nosotros__container.container
            .nosotros__img.wow.fadeInUp.delay-2
            .nosotros__main.wow.fadeInUp
                h2.secondary-title Seamos honesto
                p.description Hoy en dia son miles las personas que buscan ayuda professional en internet, y utilizar la tecnologia ya no es una opcion, es una necesitdad.
    //--- CALL TO ACTION
    .call
        .call__container.container
            .call__main.wow.fadeInUp
                h2.secondary-title Registrate ya
                .call__main--button
                    a(href="#contact").hover-btn ¿Estás listo?
    //--- PLATAFORMA
    .plataforma
        .plataforma__container.container
            .plataforma__main.wow.fadeInUp
                h2.secondary-title Nosotros creamos esta plataforma pensando en ti
                p.description Pensando en profesionales que quieren utilizer la tecnologia para aumnetar sus ingresos. No te quedes atras, esta es tu oportundad de:
            .plataforma__grid.wow.fadeInUp
                +plataforma-item(
                    'fas fa-desktop',
                    'Tener la tecnologia en la palma de tu mano'
                )
                +plataforma-item(
                    'fas fa-user-alt',
                    'Sé tu propio jefe, elige cuando y donde quieres trabajar'
                )
                +plataforma-item(
                    'fas fa-coins',
                    'Aumenta tus ingresos, sin la necesidad de invertir tu dinero'
                )
                +plataforma-item(
                    'fas fa-search',
                    'Enfócate en tu trabajo y no en cobrar'
                )
                +plataforma-item(
                    'far fa-clock',
                    'Disfruta de tu tiempo libre, nosotros nos enfocamos en buscarte clientes'
                )
    //--- CONTACT
    .contact#contact
        form.contact__form
           
        
prepend script-final
    script(src="public/js/type.js")
    script.
        $(function () {
            $("#typed").typed({
                strings: ["Sé tu propio jefe", "Aumenta tus ingresos", 'Elige donde y cuando trabajar'],
                typeSpeed: 100,
                backDelay: 2000,
                loop: true,
                loopCount: false,
                callback: function () {
                    foo();
                }
            });

            function foo() {
                console.log("Callback");
            }
        })
